.search{
	display: flex;
	width: 100%;
	height: 13vh;
	background-color: #289096;
}



.inBlock{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.inBlock input{
	width: 40%;
	height: 5vh;
	border-radius: 10px;
}

.inBlock button{
	width: 7%;
	height: 5vh;
	border: solid black;
	border-radius: 10px;
	background-color: white;
}
.inBlock button:hover{
	background-color: #2ABCBC; 
 	border-color: white;
}
.inBlock button:active {
	background-color: #5dd9c2; 	
}

.inBlock a img{
	width: 30%;
	height: 25vh;
}














.content{
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: black;
}




.cont{
	display: flex;
	flex-direction: column;
	background-color: #289096;
}



.product{
	display: grid;
	grid-template-columns: 20% 40% 20% 20%;
	
}



.go{
	background-color: red;
}
