.search{
	display: flex;
	width: 100%;
	height: 13vh;
	background-color: #289096;
}



.inBlock{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	align-content: flex-start;
}


.inBlock input{
	width: 40%;
	height: 5vh;
	border-radius: 10px;
}

.inBlock button{
	width: 7%;
	height: 5vh;
	border: solid black;
	border-radius: 10px;
	background-color: white;
}
.inBlock button:hover{
	background-color: #2ABCBC; 
 	border-color: white;
}
.inBlock button:active {
	background-color: #5dd9c2; 	
}

.inBlock a img{
	width: 40%;
	height: 20vh;
}
















#main-image {
  width: 100%;
  height: 20vh;
  display: block;
  border: 2px solid black;

}



.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.01);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}



#prev {
  left: 10px;
}



#next {
  right: 10px;
}
















.content {
    display: grid;
    grid-template-columns: 55% 20% 25%;
    height: 100vh;
	margin-top: 2%;
  }



.contLeft{
    display: grid;
	grid-template-columns: 20% 64% 16%;
	justify-content: space-evenly;
}




.Lsmall-img img{
	width: 85%;
	height: 19.9vh;
	border-style: solid;
	border-radius: 10%;
	margin-left: 12%;
}


.big-img{
	display: grid;
	justify-content: center;
}

.big-img img{
	width: 90%;
	height: 101.8vh;
	border-style: solid;
	border-radius: 5%;
	margin-left: 5%;
	margin-right: 5%;
}


.Rsmall-img{
	display: grid;
	justify-content: center;
}

.Rsmall-img img{
	width: 12vh;
	height: 14.7vh;
	border-style: solid;
	border-radius: 10%;
	margin-right: 20%;
}



.contCenter{
	display: grid;
	grid-template-rows: 3% 10% 3% 40%;
}

.company{
	background-color: rgb(194, 239, 245);
	width: 24%;
	text-align: center;
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 2%;
}

.description{
	text-align: left;
	border-radius: 10%;
	margin-left: 5%;
	margin-top: 2%;
	width: 80%;
	font-size: 1.5em;
}

.rating{
	margin-left: 5%;
	margin-top: 5%;
}

.harackteristica{
	background-color: #dcf5f6;
	display: grid;
	border-radius: 10px;
	justify-content: space-between;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 5%;
}


.contRight{
	display: grid;
	justify-content: center;
	/* border-style: solid; */

}
.inShop{
	display: grid;
	justify-content: center;
	background-color: #b1f2f2;
	width: 300px;
	height: 20vh;
	border-radius: 20px;
}

.inShop button{
	background-color: aquamarine;
	display: grid;
	justify-content: center;
	width: 200px;
	height: 5vh;
	border: 2px solid aliceblue;
	border-radius: 10px;
	/* border-color: #f3f5f5;
	box-shadow: none;
	outline: none; */ 
}

.inShop button:hover{
	background-color: #2ABCBC; 
 	border-color:#289096;
}
.inShop button:active {
	background-color: aquamarine; 
	border-color: aliceblue;	
}

